{% extends "layout.html" %}

{% block body %}

<table class="table">
    <h1 class="h3 mb-3 font-weight-normal">Kirkot kunnittain</h1>
    <thead>
      <tr>
        <th scope="col">Kunta</th>
        <th scope="col">Tiekirkkoja</th>
        <th scope="col">Vierailuja yhteensä</th>
        <th scope="col">Selaa</th>
      </tr>
    </thead>
    {% for town in towns %}
    <tbody>
      <tr>
        <th scope="row">{{ town.town }}</th>
        <td>{{ town.churches }}</td>
        <td>{{ town.visits }}</td>
        <td>
            <form method="POST" action="{{ url_for('town_churchview', town_name=town.town) }}">
                <input type="submit" value="Selaa kunnan kirkkoja" />
            </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
