{% extends "layout.html" %}

{% block body %}

{{ error }}
<form method="POST" action="{{ url_for('auth_login') }}">
    <h1 class="h3 mb-3 font-weight-normal">Kirjaudu sisään</h1>
    <table>
        <tr>
            <td>
                {{ form.username.label }}
            </td>
            <td>
                {{ form.username }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.password.label }}
            </td>
            <td>
                {{ form.password }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" class="btn btn-primary">Kirjaudu</button>
            </td>
        </tr>
</form>
{% endblock %}
