{% extends "layout.html" %}

{% block body %}
{{ error }}
<table>
    <thead>
        <tr>
            <th scope="col"> </th>
            <th scope="col">Nykyiset tiedot</th>
            <th scope="col">Päivitä </th>
        </tr>
    </thead>
    <tr>
        <td>Nimi</td>
        <form method="POST" action="{{ url_for('update_name', name=user.name) }}">
            <td>
                {{ user.name }}
            </td>
            <td>
                <input type="text" name="name" placeholder="uusi nimi">
            </td>
            <td>{{ nameerror }}</td>
            <td colspan="2">
                <input type="submit" value="Päivitä nimi" />
            </td>
        </form>
    </tr>
    <tr>
        <td>Käyttäjänimi</td>
        <form method="POST" action="{{ url_for('update_username', username=user.username) }}">
            <td>
                {{ user.username }}
            </td>
            </td>
            <td>
                <input type="text" name="username" placeholder="uusi käyttäjänimi">
            </td>
            <td>{{ usernameerror }}</td>
            <td colspan="2">
                <input type="submit" value="Päivitä käyttäjänimi" />
            </td>
        </form>
    </tr>
    <tr>
        <td>Muuta salasanaa</td>
        <form method="POST" action="{{ url_for('update_password') }}">
            <td>
                {{ form.password }}
            <td>{{ form.passwordcheck }}</td>
            </td>
            <td colspan="2">
                <input type="submit" value="Päivitä salasana" />
            </td>

    </tr>
    <tr>
        {% for error in form.password.errors %}
        <td>{{ error }}</td>
        {% endfor %}
        </form>
    </tr>
    {% endblock %}