{% extends "layout.html" %}

{% block body %}
{{ error }}
<table>
    <h1 class="h3 mb-3 font-weight-normal">Tunnuksen tiedot</h1>
    <thead>
        <tr>
            <th scope="col"> </th>
            <th scope="col">Nykyiset tiedot</th>
            <th scope="col">Uudet tiedot</th>
        </tr>
    </thead>
    <tr>
        <td>Nimi</td>
        <form method="POST" action="{{ url_for('update_name', name=user.name) }}">
            <td>
                {{ user.name }}
            </td>
            <td>
                <input type="text" name="name" placeholder="uusi nimi">
            </td>
            <td colspan="2">
                <input type="submit" value="Päivitä" />
            </td>
            <td>{{ nameerror }}</td>
        </form>
    </tr>
    <tr>
        <td>Käyttäjänimi</td>
        <form method="POST" action="{{ url_for('update_username', username=user.username) }}">
            <td>
                {{ user.username }}
            </td>

            <td>
                <input type="text" name="username" placeholder="uusi käyttäjänimi">
            </td>
            <td colspan="2">
                <input type="submit" value="Päivitä" />
            </td>
            <td>{{ usernameerror }}</td>
        </form>
    </tr>
    <tr>
        <td>Muuta salasanaa</td>
        <form method="POST" action="{{ url_for('update_password') }}">
            <td>{{ form.password }}</td>
            <td>{{ form.passwordcheck }}</td>
            <td colspan="2">
                <input type="submit" value="Päivitä" />
            </td>
        </form>
        {% for error in form.password.errors %}
        <td>{{ error }}</td>
        {% endfor %}
    </tr>
    {% if current_user.id!=1 %}
    <tr>
        <td></td>
        <td></td>
        <form method="POST" action="{{ url_for('update_deleteaccount') }}">
            <td><input type="checkbox" name="delete">
                <label for="delete">Poista tili</label>
            </td>
            <td>
                <input type="submit" value="Poista" />
            </td>
        </form>
    </tr>
    {% endif %}
    <tr>
        <td>{{ adminerror }}</td>
    </tr>
    {% endblock %}