{% extends "layout.html" %}


{% block body %}
<table>
    <tr>
        <td>
            Kirkko
        </td>
        <td>
            {{ visit.church }}
        </td>
    </tr>
    <tr>
        <td>
            Nykyinen kommentti
        </td>
        <td>
            {{ visit.comment }}
        </td>
    </tr>
    <tr>
        <td>
            Vierailu lisätty
        </td>
        <td>
            {{ visit.date_created}}
        </td>
    </tr>
    <tr>
        <td>
            Opas paikalla
        </td>
        <td>
            {{ visit.tourguide }}
        </td>
    </tr>
    <tr>
        <td>
            <form method="POST" action="{{ url_for('tourguide_set_present', visit_id=visit.id) }}">
                <input type="submit" value="Muuta oppaan statusta!" />
            </form>
        </td>
    </tr>
    <form method="POST" action="{{ url_for('visits_edit_entry', visit_id=visit.id) }}">
        <tr>
            <td>
                {{ form.comment.label }}
            </td>
            <td>
                {{ form.comment }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Tallenna uusi kommentti" />
            </td>
        </tr>
    </form>
</table>
{% endblock %}