{% extends "layout.html" %}


{% block body %}
<form method="POST" action="{{ url_for('visits_editEntry') }}">
<table>
    <tr>
        <td>
            Kirkko
        </td>
        <td>
            {{ visit.church }}
        </td>
    </tr>
    <tr>
        <td>
            Nykyinen kommentti
        </td>
        <td>
            {{ visit.comment }}
        </td>
    </tr>
    <tr>
        <td>
            Uusi kommentti
        </td>
        <td>
            {{ form.comment }}
        </td>
    </tr>
    <tr>
        <td>
            Opas paikalla
        </td>
        <td>
            {{ visit.tourguide }}
        </td>
    </tr>
    <tr>
        <td>
                <input type="submit" value="Muuta oppaan statusta!" />
            </form>
        </td>
    </tr>
    <tr>
        <td colspan="2">
                <input type="submit" value="Tallenna muutokset" />
        </td>
    </tr>
</table>
</form>
{% endblock %}