{% extends "layout.html" %}


{% block body %}
<form method="POST" action="{{ url_for('visits_create') }}">
  <table>
    <tr>
      <td>
        {{ form.church.label }}
      </td>
      <td>
        {{ form.church }}
      </td>
      <td>
        {{ error }}
        <!Tähän tulevaisuudessa tarkistus, että kirkko on olemassa>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.comment.label }}
      </td>
      <td>
        {{ form.comment }}
      </td>
      <td>
        <ul>
          {% for error in form.comment.errors %}
          <li>Kommentin oltava ainakin kaksi merkkiä pitkä</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.tourguide.label }}
      </td>
      <td>
        {{ form.tourguide }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Lisää vierailu!" />
      </td>
    </tr>
  </table>
</form>
{% endblock %}